<mat-stepper linear #stepper labelPosition="bottom">
    <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step label="first">
        <h3>this is step 1</h3>
        <input type="text">
        <div>
            <button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="second" completed="true" optional matStepperIcon="number">
        <h3>this is step 2</h3>
        
        <input type="radio" name="gender">
        <input type="radio" name="gender">
        <div>
            <button matStepperPrevious>Back</button>
            <button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="third">
        <h3>this is step 3</h3>
        <input type="checkbox">
        <div>
            <button matStepperPrevious>Back</button>
            <button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="fourth">
        <h3>this is step 4</h3>
        <div>
            <button matStepperPrevious>Back</button>
            <button matStepperPrevious>Back</button>
            <button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="fifth">
        <h3>this is step 5</h3>
        <div>
            <button matStepperPrevious>Back</button>
        </div>
    </mat-step>
</mat-stepper>
<!-- <container_element [ngSwitch]="switch_expression">
    <inner_element *ngSwitchCase="match_expresson_1">...</inner_element>
    <inner_element *ngSwitchCase="match_expresson_2">...</inner_element>
    <inner_element *ngSwitchCase="match_expresson_3">...</inner_element>
    <inner_element *ngSwitchDefault>...</element>
</container_element> -->