<div *ngIf="wizard">
<mat-stepper linear #stepper labelPosition="bottom">
    
    <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step *ngFor="let wizardStep of wizardSteps; let i = index" completed="{{!!wizardStep.isSkipable || completedState[i].isCompleted }}" optional="{{!!wizardStep.isSkipable}}" label="{{wizardStep.label}}">
        <h3>{{wizardStep.label}}</h3>
        <div *ngIf="wizardStep.type === 'INPUT'">
            <input #input type="text"  (change) ="completed($event,i)">
        </div>
        <div *ngIf="wizardStep.type === 'RADIO_BTN'">
        <input type="radio" name="gender">
        <input type="radio" name="gender">
        </div>
        <div *ngIf="wizardStep.type === 'CHECKBOX'">
            <input type="checkbox" (change)="completed($event,i)">
        </div>
        <div>
            <button *ngIf="i !== 0" matStepperPrevious>Previous</button>
            <button *ngIf="wizardStep.isSkipable" matStepperNext>Skip</button>
            <button *ngIf="i !== wizard.steps.length - 1" matStepperNext>Next</button>
            
        </div>
    </mat-step>
</mat-stepper>
</div>
