::ng-deep {

.mat-step-header.cdk-keyboard-focused,
.mat-step-header.cdk-program-focused,
.mat-step-header:hover:not([aria-disabled]),
.mat-step-header:hover[aria-disabled=false] {
        background-color:unset;
    }
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
        background-color: #8bc34a;
    }    
}
h3{
    text-align: center;
    color:#8bc34a;
    font-weight: 400;
}
input[type=radio]{
    float:left;
}
.actions-wrapper{
    margin-top:20px;
    padding-top:20px;
    border-top: 1px solid #e4e4e4;
    width:100%;
    display: flex;
    justify-content: space-between;
}
.btn{
    padding:10px 20px;
    margin:0 5px;
    border-radius: 3px;
    background: #8bc34a;
    color: #fff;
    border:none;
    font-weight: 600;
    &.skip{
        background: #ffc107;
        color:#333;
    }
}